<section class="container">
    <div class="row">
        <h2 class="center-align" style="margin-top: 50px; margin-bottom: 80px">
            Eliminar Producto
        </h2>
        <article class="col s6 offset-s3">
            <form
                [formGroup]="fgValidador"
                (ngSubmit)="EliminarProducto()"
                method="POST"
                action="formulario-contacto.php">
                <input type="hidden" formControlName="id" />
                
                <div class="input-field">
                    <label for="nombre" class="active">Nombre</label>
                    <input formControlName="nombre" type="text" name="nombre"
                        readonly />
                </div>

                <div class="input-field">
                    <label for="precio" class="active">Precio</label>
                    <input
                        formControlName="precio"
                        type="text"
                        name="precio"
                        readonly
                        />
                </div>
                <div class="input-field">
                    <label for="imagen" class="active">Imagen</label>
                    <input formControlName="imagen" type="text" name="imagen"
                        readonly />
                </div>
               
                <p class="center-align">
                    <button
                        [disabled]="!fgValidador.valid"
                        class="waves-effect waves-light btn green"
                        type="submit">
                        <i class="material-icons right">send</i>Eliminar
                    </button>
                </p>
            </form>
        </article>
    </div>
</section>
