<nav>
    <div class="nav-wrapper blue">
      <a routerLink="/" class="brand-logo">Inicio</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="seInicioSesion"><a routerLink="/administracion/buscar-persona">Personas</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="/administracion/buscar-producto">Productos</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="/pedidos/buscar-pedido">Pedidos</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cambiarClave">Cambiar Clave</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrarSesion">Cerrar Sesion</a></li>
        <li *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificacion">Iniciar Sesion</a></li>
       </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
        <li *ngIf="seInicioSesion"><a routerLink="/administracion/buscar-persona">Personas</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="/administracion/buscar-producto">Productos</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="/administracion/buscar-pedido">Pedidos</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cambiarClave">Cambiar Clave</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrarSesion">Cerrar Sesion</a></li>
        <li *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificacion">Iniciar Sesion</a></li>
      </ul>
